*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}
body{
    font-size: 16px;
    height: auto;
    width: auto;
    background-image: url("./images/pattern-background-desktop.jpg");
    overflow: hidden;
}
.descricao{
    margin-top: 25px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
}
p{
    color: hsl(240, 1%, 52%);   
}
div #change{
    margin-top: 25px;
    margin-left: 44px;
}
div #info{
    margin-top: 20px;
    margin-left:25px;
    margin-right: 50px;
}
div #info p{
    font-size: 15px;
}
div #imagem{
    width: 42px;
    height: 42px;
    margin-top: 20px;
    margin-left: 20px;
}
.preco{
    display: inline-flex;
    column-count: 3;
    color: hsl(223, 47%, 19%);
    background-color: hsl(240, 27%, 96%);
    height: 90px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
.text1 h2{
    display: grid;
    text-align: center;
    color: hsl(223, 47%, 19%);
    margin-top: 10px;
}
.text1{
    display: grid;
    text-align: center;
    color: hsl(227, 13%, 66%);
    font-size: 16px; 
}
.caixa{
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    height: 650px;
    width: 430px;
}
.fundo{
    height: auto;
    width: auto;
}
.attribution { 
    font-size: 11px; text-align: center; 
    color: hsl(228, 45%, 44%); 
}
button{
    margin-top: 35px;
}
#pro{
    color: white;
    background-color: hsl(251, 89%, 47%);
    border-radius: 8px;
    height: 55px;
    width: 350px;
    border-color: hsl(251, 89%, 47%); 
    box-shadow: 0px;
}
#cancel{
    margin-top: 30px;
    color: hsl(240, 1%, 52%);
    background-color: transparent;
    border-color: white;
    
}
#pro:hover{
    color: white;
    background-color: hsla(251, 94%, 67%, 0.932);
    cursor: pointer;
}
#cancel:hover{
    cursor: pointer;
    color: rgb(53, 50, 50);
}
#change:hover{
    cursor: pointer;
    color: rgb(62, 23, 168);
}