*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    margin-top: 35px;
    margin-left: 45px;
    margin-bottom: 35px;
}
p{
    text-align: left;
    margin-left: 45px;
    margin-right: 80px;
    margin-top: 5px;
    font-size: 14px;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 25px;
    margin-bottom: 45px;
}
img{
    width: min-content;
    height: min-content;
    margin-top: 45px;
    margin-left: 45px;
}
#box{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 200px;
    margin-left: auto;
    margin-right: 450px;
    overflow: hidden;
}
div #bt{
    margin-bottom: 25px;
    margin-left: 40px;
    margin-right: 180px;
    font-family: 'Lexend Deca', sans-serif;
    background-color: white;
    text-align: center;
    margin-top: 35px;
    width: 158px;
    height: 45px;
    border-radius: 30px;
    line-height: 40px;
}
div #bt:hover{
    color: white;
    background-color:hsla(0, 0%, 100%, 0);
    border-color: white;
    border-style: solid;
    cursor: pointer;
}

div.sd{
    color:hsl(31, 77%, 52%);
}
div.sv{
    color:hsl(184, 100%, 22%);
}
div.lx{
    color:hsl(179, 100%, 13%);
}

#box1{
    background-color:hsl(179, 100%, 13%);
    color: hsla(0, 0%, 100%, 0.75);
    height: 510px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
}
#box2{
    background-color:hsl(184, 100%, 22%);
    color: hsla(0, 0%, 100%, 0.75);
    height: 510px;
    width: 350px;
    display: flex;
    flex-direction: column;
}
#box3{
    background-color:hsl(31, 77%, 52%);
    color: hsla(0, 0%, 100%, 0.75);
    height:510px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
}
.attribution{
    font-size: 11px; text-align: center; 
    color: hsl(228, 45%, 44%); 
}

